﻿@model IEnumerable<TheWorld.Models.Trip>
@{ 
    ViewBag.Title = "Home Page";
    Layout = "_Layout";

}
            <h3>Nozama</h3>
            <p>The Nozama Lite home page.</p>

            <form>
                <div>
                    <label>Date</label>
                    <input />
                </div>
                <div>
                    <label>Location</label>
                    <input />
                </div>
                <div>
                    <input type="submit" value="Add" />
                </div>

                <div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.DateCreated;</li>


                }

        </ul>

            </div>

            </form>

