﻿
<!DOCTYPE html>

<html>
<head>
    <title>Nozama - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>


<body>

    <div id="sidebar">
        <img src="~/img/theDude.jpg" alt="The Dude" class="headshot" />
        <span id="username">The Dude</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>

        </ul>

    </div>

    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>


            @RenderBody()

        </div>


            <div id="footer">&copy; 2017 The Jenkins Corporation Ltd.</div>

      
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)


    <script type="text/javascript" src="~/js/site.js">

    </script>

</body>




</html>
